{% load static %}
{% comment %} {% url 'app_author:author_list' as author_url %} {% endcomment %}
{% block header %}
  <header class="bg-light mb-4">
    <div class="container-xxl">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="{% static 'images/logo-quotes3.svg' %}" alt="Logo" width="30" /></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a aria-current="page" href="/" 
                {% if request.path == "/" %} 
                  class="nav-link active" 
                {% else %} 
                  class="nav-link"
                {% endif %} >
              Quotes</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a {% if request.path == "/author/" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'app_author:author_list' %}">Authors</a>
              </li>
              <li class="nav-item">
                <a {% if request.path == "/quotes/" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url "quote_list" %}">Add quote</a>
              </li>
            {% else %}
            {% endif %}
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url "app_auth:logout" %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url "app_auth:signin" %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "app_auth:signup" %}">Register</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </header>
{% endblock %}
